body {
    align-items: center;
  background-color: grey;
  display: flex;
  justify-content: center;
  height: 100vh;
}
.form{



  background-color: skyblue;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
  margin:50px auto;
}

h1{
text-align: center;

}
.reg{
 color: black;
  background-color: darkgray;


}
